@import "/src/constants/styles";

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  $home: &;
  @media (max-width: $DM-SM) {
    display: block;
    margin-top: 50px;
  }

  &-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @media (max-width: $DM-SM) {
      flex-direction: column;
    }

    #{$home}__title {
      max-width: 435px;
      width: 100%;
      text-align: center;
      color: #E9E9E9;
      order: 2;
      @media (max-width: $DM-SM) {
        order: 0;
        margin-bottom: 20px;
      }

      .title {
        font-weight: $FW-MEDIUM;
        font-size: 36px;
        line-height: 42px;
        @media (max-width: $DM-TABLE) {
          font-size: 25px;
        }
      }

      .subtitle {
        font-weight: $FW-MEDIUM;
        font-size: 36px;
        line-height: 42px;
        @media (max-width: $DM-TABLE) {
          font-size: 25px;
        }
      }
    }
  }
}
